---
title: 'Case Study Fluid Notes App'
img: '/assets/img/casestudies/fluid/'
recs-id: <%= csrecs.fluid %>
---
<main class="case-study" role="main">
    <div id="fluid-hero" class="full-height top-hero grad-up">
        
        <div class="color-overlay">&nbsp;</div>
        <div class="row">
            <div class="medium-8 columns case-title top-center">
                <h1 class="h2">Fluid Notes</h1>
                <h2 class="h6">Brand Identity & UI Design</h2>
            </div>
        </div>
        <div id="fluid-tablet"></div>
    </div>
    <div id="fluid-caption-1" class="caption text-white padding-xl">
        <div class="row">
            <div class="medium-6 columns">
                <h3>The Challenge</h3>
                <p>
                    Fluid Notes (formally Ghostwriter) is a five-star iPad app for note taking. While the app was well liked and had a good market base, the fluid team wanted to expand the interactions of the app and give the brand an update. 
                </p>
            </div>
            <div class="medium-6 columns">
                <h3>The Solution</h3>
                <p>
                    We worked with the Fluid team to update the UI and UX of the app, create a new identity, and design a new site. Our updates helped create a more robust and easy to use app, with a wider appeal to a growing audience.
                </p>
                <p>
                    <a href="http://getfluidapp.com" target="_blank">GetFluidApp.com</a>
                </p>
            </div>
        </div>
    </div>
    <div id="fluid-branding-1" class="caption white padding-top-150 padding-bottom-270">
        <div class="row">
            <div class="medium-12 columns">
                <h3>Branding</h3>
                <div class="medium-12 padding-lg">
                    <img class="center-block medium-12" src="{{img}}fluid-icon-type-large.png" alt="Fluid app Type Design">
                </div>
            </div>
        </div>
    </div>
    <div class="caption offwhite padding-lg padding-bottom-120">
        <div class="row">
            <div id="fluid-branding" class="medium-12 columns">
                <h5>Exploration</h5>
                <div class="row padding-lg">
                    <div class="small-4 columns">
                        <img src="{{img}}fluid-branding_01.png" alt=""/>
                    </div>
                    <div class="small-4 columns">
                        <img src="{{img}}fluid-branding_02.png" alt=""/>
                    </div>
                    <div class="small-4 columns">
                        <img src="{{img}}fluid-branding_03.png" alt=""/>
                    </div>
                </div>
                <div class="row padding-top-120">
                    <div class="small-4 columns">
                        <img src="{{img}}fluid-branding_05.png" alt=""/>
                    </div>
                    <div class="small-4 columns">
                        <img src="{{img}}fluid-branding_06.png" alt=""/>
                    </div>
                    <div class="small-4 columns">
                        <img src="{{img}}fluid-branding_07.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fluid-app-icon" class="padding-180 blue">
        <div class="row">
            <h3 class="medium-12 columns">
                Detailed Icon
            </h3>
        </div>
        <div class="row padding-lg">
            <div class="medium-6 medium-offset-3 columns">
                <img src="{{img}}fluid-icon-med.png" alt="Fluid App Icon" class="app-icon center-block">
            </div>
        </div>
    </div>
    
    
    <div id="fluid-slides" class="fixed-slider">
        
        <div id="fluid-sketch" data-view="1">
            <div class="row" id="fluid-process-title">
                <div class="medium-12 columns">
                    <h3>
                        Process
                    </h3>
                </div>
            </div>
        </div>
        <div id="fluid-wire" data-view="2"></div>
        <div id="fluid-final" class="full-height" data-view="3"></div>
    </div>
    <div id="fluid-fixed-trigger"></div>
    <div class="lifestyle offwhite padding-xl">
        <div class="row">
            <div class="medium-12 columns">
                <div class='embed-container'><iframe src='https://player.vimeo.com/video/60216372' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <img src="{{img}}lifestyle-collection.jpg" alt="" class="center-block">
            </div>
        </div>
    </div>
    <div class="quote grad-down padding-bottom-120">
        <div class="row">
            <div class="medium-10 columns medium-offset-1">
                <p class="quote-text">
                    Underbelly brought a team of experienced and approachable designers to assist our development team and produce an awesome user interface for the app.
                </p>
            </div>
            <div class="quote-author">
                - Michael Privat
            </div>
        </div>
    </div>
    <div class="row"></div>

    
    {{> casestudies-bottom}}
    

</main>
{{> scripts-default }}
<script>
    jQuery(document).ready(function() { 
        if(window.isDesktop === true) {
            $(window).on('scroll', function(){
                parallax('#fluid-tablet', 0.6, 'up');
                //bgParallax('#fluid-hero', 0.4, 'down');
                //bgParallax('#fluid-app-icon', 0.15, 'down');
                //scrollDarken('#fluid-hero .color-overlay');

                var fluidFixedTrigger = $('#fluid-fixed-trigger').offset().top;

                if((window.scrollY+window.innerHeight) > fluidFixedTrigger) {
                    $('#fluid-final').removeClass('fixed');
                }
                else if ((window.scrollY) < fluidFixedTrigger) {
                    $('#fluid-final').addClass('fixed');
                }

                //process slides fixer
                var $processTitle = $('#fluid-process-title'),
                    $topPos = $processTitle.parent().offset().top;
console.log(window.scrollY, $topPos);
                    if(window.scrollY >= $topPos) {
                        $processTitle.addClass('fixed');
                    }
                    else if (window.scrollY < $topPos) {
                        $processTitle.removeClass('fixed');
                    }

                    if(!$('#fluid-final').hasClass('fixed')) {

                        var $moveUp = -(window.scrollY - $('#fluid-final').offset().top);
                        $processTitle.css('margin-top', $moveUp);
                    }

                    else if($('#fluid-final').hasClass('fixed')) {
                      $processTitle.css('margin-top', 0);
                    }



            });
            
        }

    });
    </script>