---
title: 'Case Study: Hive Checklist'
name: 'Hive Checklist App'
img: '/assets/img/casestudies/hive/'
theme: light
recs-id: <%= csrecs.hive %>
---

<main class="case-study" role="main" id="hive-case-study">
    <div id="hive-hero" class="full-height top-hero">
        <div class="color-overlay">&nbsp;</div>
        <div class="row">
            <div class="medium-8 columns case-title">
                <h1 class="h2">Hive Checklists</h1>
                <h2 class="h6">Brand Identity, UI/UX Design and Strategy</h2>
            </div>
        </div>
    </div>
    <div id="hive-caption-1" class="caption text-white padding-xl">
        <div class="row">
            <div class="medium-6 columns">
                <h3>The Challenge</h3>
                <p>When it comes to checklists, the digital world is chock-full of them. Our challenge was to create one that succeeded where others didn’t — to allow collaboration with a fast and simple interface. We wanted to get people working together without the stress of learning a new system.</p>
            </div>
            <div class="medium-6 columns">
                <h3>The Solution</h3>
                <p>We worked closely with the Hive team to create a streamlined user experience that would highlight the ease of use and scalibility of the app. So, whether you are part of a large team or a household of two, Hive will work for you.
                </p>
            </div>
        </div>
    </div>

    <div id="hive-branding" class="padding-xl">
        <div class="row">
            <div class="medium-12 columns">
                <h3>Branding</h3>
            </div>
        </div>
        <div class="row">
            <div class="medium-8 columns medium-offset-2 text-center">
                <img src="{{img}}hive-logo-1.png" alt="">
            </div>
        </div>
    </div>

    <div id="hive-evolution" class="offwhite caption padding-xl">
        <div class="row">
            <div class="medium-12 columns">
                <h5>Evolution</h5>
            </div>
        </div>
        <div class="row padding-md">
            <div class="medium-12 columns">
                <div class="row">
                    <div class="small-4 columns text-center">
                        <img src="{{img}}hive-process-1.png" alt="">
                    </div>
                    <div class="small-4 columns text-center">
                        <img src="{{img}}hive-process-2.png" alt="">
                    </div>
                    <div class="small-4 columns text-center">
                        <img src="{{img}}hive-process-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row-fluid" id="hive-ui-image"></div>

    <div id="hive-responsive-carousel" class="caption white padding-xl">
        <div class="row">
            <div class="medium-5 columns">
                <h3>Responsive UI</h3>
                <p>
                    On the go or in the office, we designed Hive to work for YOUR unique lifestyle. Create, assign, and complete on any device; it's that easy. And with realtime notifications, you'll never miss a thing.
                </p>
            </div>
            <div class="medium-7 columns">
                <img src="{{img}}hive-responsive-1.png" alt="">
            </div>
        </div>
    </div>
    <div id="hive-lifestyle" class="row-fluid">
<!--         <a class="h3 circlenext" href="aiga.html">See it live <i class="next-circle"></i></a>
 -->    </div>
    <div class=" grad-up padding-lg">
        <div class="quote row">
            <div class="medium-10 columns medium-offset-1">
                <p class="quote-text">
                    I have worked with Underbelly for over a year and they are very creative, produce awesome user interfaces and are easy and professional to work with.
                </p>
            </div>
            <div class="quote-author">
                - Vivek Chugh
            </div>
        </div>
    </div>
    <div class="row"></div>
    {{> casestudies-bottom}}
    

</main>
{{> scripts-default }}
    
<script>
    jQuery(document).ready(function() {


        $('#aiga-carousel').find('.slider').bxSlider({
            slideSelector: '.slide',
            controls: true,
            nextSelector: '.right-arrow',
            prevSelector: '.left-arrow',
            nextText: '&rsaquo;',
            prevText: '&lsaquo;',
            infiniteLoop: true,
            pager: false
        });

        function scrollEvent() {
            if(window.isDesktop === true) {
                bgParallax('#hive-hero', '1.2', 'up');
                bgParallax('#hive-branding', '0.6', 'up');
                
            }
            
        }
        $(window).on('scroll', function() {
           window.requestAnimationFrame(scrollEvent);
        });
    });
    </script>