---
title: 'Case Study: Just Family App'
name: 'Just Family'
img: '/assets/img/casestudies/justfamily/'
theme: light
recs-id: <%= csrecs.justfamily %>
---
<main class="case-study justfamily" role="main">
    <div id="justfamily-hero" class="full-height top-hero">
        <!-- <div class="color-overlay">&nbsp;</div> -->
            <div class="row">
                <div class="medium-8 columns case-title">
            
                    <h1 class="hide">{{name}}</h1>
                </div>
            </div>
    </div>
    <div class="caption offwhite padding-xl">
        <div class="row">
            <div class="medium-6 columns">
                <h3>The Challenge</h3>
                <p>Combining all of your family photos from mobile phones and computers is an ever growing problem. Just Family is an app that allows people to combine and organize photos from everyone in their household and access them from anywhere. 
                </p>
            </div>
            <div class="medium-6 columns">
                <h3>The Solution</h3>
                <p>We worked on a daily basis with Just Family to create a cohesive brand identity and user experience that would highlight the ease and functionality of the app.
                </p>
                <p>
                    <a href="http://justfamily.com" target="_blank">JustFamily.com</a>
                </p>
            </div>
        </div>
    </div>
    <div class="grad-up padding-lg padding-bottom-180">
        <div class="row">
            <div class="medium-12 columns">
                <h3>Brand Concepts</h3>
                <img class="padding-top-90 center-block medium-8" src="{{img}}justfamily-logo-01.png" alt="{{name}}">
            </div>
        </div>

        <div class="row">
            <div class="medium-12 columns padding-top-120">
                <div class="row">
                    <h5 class="medium-12 columns">Mark Exploration</h5>
                </div>
                <div class="row padding-lg">
                    <div class="medium-12 columns text-center">
                        <img class="text-center" src="{{img}}justfamily-exploration-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="justfamily-mark-image" class="row-fluid"></div>

    <div class="blue padding-xl">
        <div id="justfamily-ui">
            <div class="row">
                <h3 class="medium-12 columns">App UI</h3>
            </div>
            <div class="row">
                <div class="medium-12 columns">
                    <div id="justfamily-ui-01">&nbsp;</div>
                    <div id="justfamily-ui-02">&nbsp;</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="medium-12 columns">
                <h4>App Icon</h4>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="medium-6 columns padding-lg padding-bottom-150">
                <img class="text-center" src="{{img}}justfamily-icon-01.png" alt="">
            </div>
            <div class="medium-6 columns">
                <div class="row">
                    <div class="small-7 columns padding-xl">
                        <img class="text-center" src="{{img}}justfamily-icon-01.png" alt="">
                    </div>
                    <div class="small-5 left columns padding-120">
                        <img class="text-center" src="{{img}}justfamily-icon-01.png" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="small-4 small-offset-2 columns padding-xl">
                        <img class="text-center" src="{{img}}justfamily-icon-01.png" alt="">
                    </div>
                    <div class="small-3 small-offset-2 left columns padding-120">
                        <img class="text-center" src="{{img}}justfamily-icon-01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white padding-xl">
        <div class="row">
            <div class="medium-12 columns">
                <h3>See It In Action</h3>
            </div>
        </div>
<!--         <div class="row">
            <div class="medium-12 columns">
                <style>.embed-container { position: relative; padding-bottom: 54%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/45996386' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
            </div>
        </div> -->
        <div class="row">
            <div class="medium-12 columns">
                <img src="{{img}}justfamily-lifestyle.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="row-fluid grad-up">
        <div class="quote row padding-bottom-120">
            <div class="medium-10 medium-offset-1 columns">
                <p class="quote-text">
                    Underbelly constantly impressed us with both their craftsmanship and creativity. We did better work because we worked with them.
                </p>
                <span class="quote-author">
                    - Nate Quigley
                </span>
            </div>
        </div>
    </div>
    <div class="row"></div>
    {{> casestudies-bottom}}

</main>
{{> scripts-default }}
<script>
    jQuery(document).ready(function() { 

        function jfScrolling() {
            if(window.isDesktop === true) {
                bgParallax('#justfamily-hero', 1.4, 'up');
                parallax('#justfamily-ui-02', 0.35, 'up', 'translate');
            }
            
        }
        $(window).on('scroll', function() {
           window.requestAnimationFrame(jfScrolling);
        });

    });
</script>