---
title: 'Case Study: Rent Tree'
id: renttree
img: '/assets/img/casestudies/renttree/'
recs-id: <%= csrecs.renttree %>
---

<main class="case-study" role="role" id="{{id}}-main">
    <div id="{{id}}-hero" class="full-height top-hero">
        <div class="color-overlay">&nbsp;</div>
        <div class="row">
            <div class="medium-8 columns case-title">
                <h1 class="h2">Rent Tree</h1>
                <h2 class="h6">Brand Identity, Website and Collateral</h2>
            </div>
        </div>
    </div>
    <div class="caption offwhite padding-xl">
        <div class="row">
            <div class="medium-6 columns">
                <h3>The Problem</h3>
                <p>
                    RentTree is a web app that allows renters to connect with landlords and visa versa. They came to us with a great idea in need of an identity and design. They needed a brand that would be friendly, inviting, clean, and functional:  as well as a story that they could infuse throughout their marketing content. 
                </p>
            </div>
            <div class="medium-6 columns">
                <h3>The Solution</h3>
                <p>
                     We created a logo for them as well as an overall brand identity to use as they expand to mobile. We also designed their initial website that would highlight the simple interface and beautiful lifestyle photography.
                </p>
            </div>
        </div>
    </div>
    <div class="caption padding-xl padding-bottom-120 wood-bg">
        <div class="row">
            <div class="medium-12 columns text-white">
                <h3>Branding</h3>
                <img class="center-block padding-md" src="{{img}}renttree-logo-01.png" alt="{{title}} Logo Design">
            </div>
        </div>
    </div>
    <div class="caption padding-xl offwhite">
        <div class="row">
            <div class="medium-12 columns">
                <h5>Mark Exploration</h5>
                <img src="{{img}}renttree-logo-explore.png" alt="{{title}}" class="padding-lg">
            </div>
        </div>
    </div>
    <div class="caption white padding-xl" id="{{id}}-lifestyle">
        <div class="row">
            <h3 class="medium-12 columns">In Action</h3>
            <div class="text-center medium-12 columns padding-md">
                <img src="{{img}}renttree-lifestyle-01.jpg" alt="{{title}} In Action">
            </div>
        </div>
    </div>
    <div id="renttree-website" class="caption padding-xl">
        <div class="row">
            <div class="medium-12 columns">
                <div class="text-center">
                    <img src="{{img}}renttree-website-01.png" alt="{{title}} Website">
                </div>
            </div>
        </div>
    </div>
    {{> casestudies-bottom}}
</main>

{{> scripts-default }}

<script>
    $(document).ready(function(){
        if(window.isDesktop && window.isDesktop === true) {
            $(window).on('scroll', function(){
                bgParallax('#renttree-hero', 1, 'up');
                scrollDarken('#renttree-hero .color-overlay');
            });
        }
    });
</script>